/*adding color to lab2*/
.root {
  --green: #00FF00;
}  

.attendanceBox {
  background-color: #2E5A88;
  width: 200px;
}

.contents {
  background-color: #00FFFF;
  width: 10vw;
}

.ethan {
  color: bisque;
  width: 100cm;
}

.andrew {
  background-color: blanchedalmond;
  height: 1in;
}

.jonathan {
  background-color: blue;
  width: 10vh;
}

.mitchellSum {
  font-size: 1em;
}

.mitchell {
  background-color: aqua;
  width: 10em;
}

a {
    color: red;
  }

  h1 {
    color: rgb(160, 32, 240);
  }

  h2 {
    color: color-mix(in srgb, #34c9eb 20%, white);
  }

#attendance {
    color: hsl(0, 0%, 100%);
}

#information {
    color: color(display-p3 1 0.5 0);
}

#agenda {
    color: var(--green);
    color:  #00FF00;
}


