/*adding flair to lab2*/

@media screen{
  .summary {
    max-width: 500px;
    max-height: 500px;
    position: relative;
    top: 10px; 
    left: 100px;
  }

  @font-face {
    font-family: "myfont";
    src: url(Jersey15-Regular.ttf);
    font-weight: normal;
    font-style: normal;
  }

}

.root {
  --green: #00FF00;
}  

.attendanceBox {
  background-color: #2E5A88;
  width: 200px;
}

.contents {
  background-color: #00FFFF;
  width: 10vw;
}

.vincent {
  text-decoration: underline;
  text-align: center;
}

.ethan {
  color: bisque;
  width: 100cm;
}

.andrew {
  background-color: blanchedalmond;
  height: 1in;
}

.jonathan {
  background-color: blue;
  width: 10vh;
}

.mitchellSum {
  font-size: 1em;
}

.mitchell {
  background-color: aqua;
  width: 10em;
}

.summary {
  max-width: 200px;
  max-height: 500px;
  position: relative;
  top: 10px; 
  left: 100px;
}

a {
  color: red;
}

h1 {
  color: rgb(160, 32, 240);
}

h2 {
  color: color-mix(in srgb, #34c9eb 20%, white);
}

footer {
  margin: 25px 50px 75px 100px;
  border-style: solid;
  border-color: black;
  border-width: 10px;
  border-radius: 25px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right:10px;
}

li * {
  font-family: "myfont";
}

#attendance {
  color: hsl(0, 0%, 100%);
}

#information {
  color: color(display-p3 1 0.5 0);
}

#agenda {
  color: var(--green);
  color:  #00FF00;
}

.agenda {
  color: var(--green);
  color:  #00FF00;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
  border-style: double;
  border-color: black;
  padding: 1em 20px 1em 10px;
  
}

.cats {
  display: none;
}

.question {
  display: inline-block;
  background-color: #00FF00;
  width: 240px;
  height: 100px;
}

.mascot {
  position: sticky;
  top: 200px;
}

button:link {
  color: #FF0000;
}

button:visited {
  color: var(--green);
}

button:hover {
  color: #FF00FF;
  background-color: aqua;
}

button:active {
  color: #0000FF;
}

.flexClasses {
  display: flex;
  background-color: pink;
  justify-content: center;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}

.flexClasses > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

.container {
  display: grid;
  column-gap: 50px;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  justify-self: center;
}
